AX_PACKAGES="ArmarXCore ArmarXGui RobotAPI MemoryX VisionX RobotComponents ArmarXSimulation RobotSkillTemplates Spoac SpeechX Armar3 Armar4 Armar4-RT Armar6RT"

if which realpath >/dev/null; then
    ArmarX_DIR=`realpath $MIRACULIX_DIR/..`
else
    ArmarX_DIR=$MIRACULIX_DIR/..
fi

ARMARX_DIR=$ArmarX_DIR


LOG_FILE=$MIRACULIX_DIR/.miraculix.log

#uses all cores (incl virtual), but can make the system inresponsive
#MAKEFLAGS='-j$(nproc)'

#uses all cores - 1, almost as fast as the above, but system stays responsive
#NOTE: the below doesn't work as expected; forgot why
#MAKEFLAGS='-j$(expr $(nproc) - 1)'
MAKEFLAGS='-j7'
CMAKE_AFTER_MAKE=false #no longer needed


source $MIRACULIX_DIR/colors.rc

if [ ! -f "$MIRACULIX_DIR/config.user.rc" ]; then
    echo -e "${BGre}Miraculix: Creating default user config in $MIRACULIX_DIR/config.user.rc${RCol}"
    printf "# here, you can override the parameters set in config.rc as you see fit\n\n#AX_PACKAGES=\"$AX_PACKAGES\"" > $MIRACULIX_DIR/config.user.rc
fi
source $MIRACULIX_DIR/config.user.rc

#verify that all packages exist
for PKG_DIR in $AX_PACKAGES; do
	if [ ! -d "$ArmarX_DIR/$PKG_DIR" ]; then
		echo -e "${BRed}Folder ${BWhi}$ArmarX_DIR/$PKG_DIR ${BRed}does not exist. Did you configure MiraculiX correctly? ${RCol}"
	fi
done

CMAKE_PARAMS=""
for PKG_NAME in $AX_PACKAGES; do
    CMAKE_PARAMS="${CMAKE_PARAMS} -D${PKG_NAME}_DIR:FILE=${ArmarX_DIR}/${PKG_NAME}/build"
done

export MIRACULIX_DIR

